<div style="border: 2px solid #f7f6fb; padding: 80px; margin: 100px; background-color: #f7f6fb; border-radius: 10px;">
  <div class='text-black-50'>
    <h2>プライバシーポリシー</h2>
      <div class="pt-4">
        <h5>お客様から取得する情報</h5>
          <li>氏名(ニックネームやペンネームも含む)</li>
          <li>メールアドレス</li>
          <li>写真や動画</li>
      </div>

      <div class="pt-2">
        <h5>お客様の情報を利用する目的</h5>
          <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
          <li>お客様の当社サービスの利用履歴を管理するため</li>
          <li>お客様からのお問い合わせに対応するため</li>
          <li>当社の規約や法令に違反する行為に対応するため</li>
        </div>

      <div class="pt-4">
        <h5>第三者提供</h5>
          <p>当社は、個人データについては、お客様の同意なく第三者に提供しません。ただし、以下の例外があります：</p>
            <li>個人データの取扱いを外部に委託する場合</li>
            <li>当社や当社サービスが買収された場合</li>
            <li>事業パートナーと共同利用する場合</li>
            <li>法律によって第三者提供が許されている場合</li>
      </div>

      <div class="pt-4">
        <h5>プライバシーポリシーの変更</h5>
          <p>当社は、必要に応じて、プライバシーポリシーを変更します。変更後のプライバシーポリシーは、効力発生前に適切な方法で周知または通知します。</p>
      </div>

      <div class="pt-4">
        <p>2024年5月31日制定</p>
      </div>
  </div>
</div>
