<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to edit_board_path(board), id: "button-edit-#{board.id}" do %>
      <i class='bi bi-pencil-fill'></i>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to board_path(board), id: "button-delete-#{board.id}", data: { turbo_method: :delete, turbo_confirm: t('flash_messages.delete_confirm') } do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>
  </li>
</ul>