<div class="mt-4">
  <div class="shape"></div>
  <div class="content">
    <%= image_tag 'sticker2.png', class: 'img-fluid', width: 130, height: 130 %>
    <div class="info">
      <div class="text-black-50">
        <p>旅行した都道府県の数:</p>
      </div>
      <div class="number">
        <p><%= @visited_prefectures_count %></p>
      </div>
      <div class="text-black-50">
        <p>/47都道府県</p>
      </div>
    </div>
  </div>
</div>
