<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= image_tag 'top.png', class: 'img-fluid mx-auto d-block', width: 1200, height: 800 %>
    </div>
  </div>

  <!-- 旅行した都道府県の情報 -->
  <% if current_user.present? %>
    <%= render 'prefecture' %>
  <% end %>

  <!-- 掲示板一覧 -->
  <div class="row pt-5">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <%= render @boards %>
        <% else %>
          <p class="text-center"><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
