<%= content_for(:title, t('.title')) %>
<div class="container pt-5 ">
  <div class="row justify-content-center">
    <div class="col-12 ">
      <%= image_tag 'top.png', class: 'img-fluid mx-auto d-block', width: 1200, height: 800 %>
    </div>
  </div>
</div>