<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-black-50">
      <h3><%= t('.title') %></h3>
      <%= render 'form', { board: @board } %>
    </div>
  </div>
</div>